body{
	background-color: black;
	color: white;
	font-family: "Times New Roman", sans-serif;
}

.todososjogos{
	margin: auto;
	width: 90%;
	padding: 10px;
}

.jogom{
	width: 150px;
	height: 150px;
	border: 4px solid green;
	margin: 10px;
	float: left;
}

.jogoz{
	width: 150px;
	height: 150px;
	border: 4px solid blue;
	margin: 10px;
	float: left;
}

.jogod{
	width: 150px;
	height: 150px;
	border: 4px solid red;
	margin: 10px;
	float: left;
}

.jogop{
	width: 150px;
	height: 150px;
	border: 4px solid orange;
	margin: 10px;
	float: left;
}

img{
	width: 100%;
	height: 100%;
	opacity: 70%;
	-webkit-transition: all .4s ease-in-out;
}

img:hover{
	opacity: 100%;
	-webkit-transition: all .4s ease-in-out;
}

.cabecalho a{
	
	text-decoration: underline;
	color: white;
	
	
    /*background-image: linear-gradient(45deg, yellow, darkorange);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;*/
}

.cabecalho .pixons a{
	
	text-decoration: underline;
	animation: colorpix infinite 2s;
	color: white;
	
	
    /*background-image: linear-gradient(45deg, yellow, darkorange);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;*/
}

@keyframes colorpix{
	0%
	{
		color: darkorange;
	}
	
	20%
	{
		color: yellow;
	}
	
	40%
	{
		color: green;
	}
	
	60%
	{
		color: blue;
	}
	
	80%
	{
		color: purple;
	}
	
	100%
	{
		color: red;
	}
}

.cabecalho a:after{
	color: white;
}

.cabecalho pm{
	color: green;
}

.cabecalho pz{
	color: blue;
}

.cabecalho pd{
	color: red;
}

.cabecalho pp{
	color: orange;
}

.cabecalho creditos{
	color: white;
	font-size: px;
	opacity: 50%;
}